@charset "utef-8";

/* 全体設定 */
body {
  font-family: Noto sans JP, sans-serif;
  color: #7F5539;
}

.pc_only {
  display: none;
}

/* ようこそ部分 */
.user_name {
  font-size: 12px;
  line-height: 3;
  padding-left: 20px;
  font-weight: 500;
}

/* メインエリア */
/* TOP画像 */
.hero_img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/********** cont-1（SP） ********** /
/* 商品紹介 */
.dounts_content {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

/* 158/375 from　フィグマ */
.dounts_line {
  position: relative;
  font-size: 12px;
  flex-basis: 42%
}

/* サマーシトラス画像に文字を固定 */
.dounts_line p:nth-of-type(2) {
  position: absolute;
  top: 156px;
  right: 3px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

/* 新商品文字と背景の〇は別に作成 */
.dounts_line p:nth-of-type(3) {
  position: absolute;
  top: 38px;
  left: 10px;
  color: #fff;
  z-index: 1;

}

/* 背景の〇と文字を重ねる */
.dounts_line p:nth-of-type(4) {
  position: absolute;
  top: 26px;
  left: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FF8877;

}

/* 画像サイズを調整。2カラム。画像に文字固定にするための基準*/
.dounts_line_2 {
  position: relative;
  flex-basis: 42%;
}

/* ドーナッツのある生活画像に文字を固定 */
.dounts_line_2 p:nth-of-type(2) {
  position: absolute;
  top: 157px;
  right: 7px;
  font-size: 12px;
  color: #fff;
}

/* 画像サイズ指定 */
.dounts_img01 {
  width: 100%;
}

/* サマーシトラス画像サイズ・幅調整 */
.dount_img01 img {
  /* max-width: 100%; */
  margin-top: 20px;
}

/* ドーナッツのある生活画像サイズ・幅調整 */
.dounts_img02 img {
  /* max-width: 100%; */
  margin-top: 20px;
}

/* 商品一覧の画像・幅・位置調整 */
.product_img {
  margin: 20px;
  text-align: center;
}

/* 商品一覧画像size */
.product_img img {
  /* max-width: 100%; */
}

/* 商品一覧文字位置固定 */
.dounts_line_3 p:nth-of-type(2) {
  position: absolute;
  bottom: 211px;
  right: 25px;
  color: #7F5539;
}

/********** cont-2（SP） ********** /
/* 会社理念？ */
.philosophy_content {
  position: relative;
  width: 100%;
}

/*  画像size調整*/
.philosophy_img img {
  max-width: 100%;
}

/* 画像文字色指定 */
.philosophy_text {
  color: #fff;
}

/* 画像に文字を重ねる　文字列① */
.philosophy_text p:nth-of-type(1) {
  position: absolute;
  top: 77px;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}

/* 画像に文字を重ねる　文字列②*/
.philosophy_text p:nth-of-type(2) {
  position: absolute;
  top: 124px;
  right: 0;
  left: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}

/* 画像に文字を重ねる　文字列③*/
.philosophy_text p:nth-of-type(3) {
  position: absolute;
  top: 213px;
  right: 0;
  left: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}

/* 画像に文字を重ねる　文字列④ */
.philosophy_text p:last-of-type {
  position: absolute;
  top: 250px;
  right: 0;
  left: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}

/********** cont-3（SP） ********** /
/* 人気ランキング */
.ranking_title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 6px 8px 6px;
  border-bottom: 4px solid #FFD233;
}

/* ランキング数字 */
h5 {
  width: 22%;
  background: #E8C2CA;
  color: #fff;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* ランキング */
.ranking {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product_photo {
  margin-bottom: 20px;
}

.ranking_text {
  line-height: 1.6;
}

/* 金額 */
.price {
  color: #BF0000;
  margin-top: 20px;
  margin-bottom: 24px;
}

/* 商品紹介を２カラムに */
.inner_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: 20px;
}

/* カートボタン作成・調整 */
.btn_cart {
  background: #7F5539;
  color: #fff;
  width: 100%;
  height: 36px;
  text-align: center;
  margin-top: 20px;
  /* margin-bottom: 80px; */
}

/* 商品紹介サイズ調整 */
.ranking_item {
  flex-basis: 42%;
  margin-bottom: 80px;
}

/* ランキング１位色指定 */
.ranking_item:nth-of-type(1) h5 {
  background: #FFD233;
}

/* ランキング画像のサイズ調整 */
.ranking_item p img {
  max-width: 100%;
}

/* ///////////////////////////////////////////////////////////////////////////////

スマホ→PC版

/////////////////////////////////////////////////////////////////////////////// */


@media screen and (min-width:768px) {

  /* * {
    outline: 1px solid #c00c0c;
  } */

  .pc_only {
    display: block;
  }

  .sp_only {
    display: none;
  }

  /* メインエリア */
  /* TOP画像 */
  .hero_img {
    width: 100%;
    /* height: 593px; */
    /* padding-top: 80px; */
    /* padding-bottom: 80px; */
  }

  /********** cont-1（PC） **********/
  .cont-1 {
    width: min(86.6666vw, 1040px);
    margin: 80px auto;
  }

  .dount_img01 img {
    width: min(41.6666vw, 500px);
    margin-top: 0px;
    margin-right: min(1.6666vw, 20px);
  }

  .dounts_img02 img {
    width: min(41.6666vw, 500px);
    margin-top: 0px;
    margin-left: min(1.6666vw, 20px);
  }

  .product_img {
    margin: 0;
  }

  .product_img img {
    width: min(86.6666vw, 1040px);
    margin: 40px auto 0 auto;
  }

  .dounts_line {
    flex-basis: 36%
  }

  .dounts_line_2 {
    flex-basis: 36%;
  }

  .dounts_img01 {
    width: 100%;
  }

  dounts_line p:nth-of-type(2) {
    position: absolute;
    top: 156px;
    right: 3px;

  }

  /********** cont-3 (PC)********** /
/* ランキング */
  .ranking {
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* 商品紹介サイズ調整 */
  .ranking_item {
    flex-basis: 29.6296%;
    margin-bottom: 80px;
  }

  /* 人気ランキング */
  h1 {
    font-size: 32px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0 8px 12px 8px;
    border-bottom: 8px solid #FFD233;
  }

  /* カートボタン作成・調整 */
  .btn_cart {
    width: min(21.6666vw, 260px);
    height: 36px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


}

@media screen and (min-width: 1200px) {}