@charset "utef-8";

/* 全体設定 */
* {
  /* outline: 1px solid red; */
}

body {
  font-family: Noto sans JP, sans-serif;
}

/* メインエリア */
/* TOP画像 */
.hero_img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* 商品紹介 */
.dounts_content {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

/* 158/375 from　フィグマ */
.dounts_line {
  position: relative;
  font-size: 12px;
  flex-basis: 42%
}

/* サマーシトラス画像に文字を固定 */
.dounts_line p:nth-of-type(2) {
  position: absolute;
  top: 156px;
  right: 3px;
  font-size: 12px;
  color: #fff;
}
/* 新商品文字と背景の〇は別に作成 */
.dounts_line p:nth-of-type(3) {
  position: absolute;
  top: 38px;
  left: 10px;
  color: #fff;
  z-index: 1;
 
}
/* 背景の〇と文字を重ねる */
.dounts_line p:nth-of-type(4) {
  position: absolute;
  top: 26px;
  left: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FF8877;

}



/* 画像サイズを調整。2カラム。画像に文字固定にするための基準*/
.dounts_line_2 {
  position: relative;
  flex-basis: 42%;

}

/* ドーナッツのある生活画像に文字を固定 */
.dounts_line_2 p:nth-of-type(2) {
  position: absolute;
  top: 157px;
  right: 7px;
  font-size: 12px;
  color: #fff;
}

/* 画像サイズ指定 */
.dounts_img01 {
  width: 100%;
}

/* サマーシトラス画像サイズ・幅調整 */
.dount_img01 img {
  max-width: 100%;
  margin-top: 20px;
}

/* ドーナッツのある生活画像サイズ・幅調整 */
.dounts_img02 img {
  max-width: 100%;
  margin-top: 20px;
}

/* 商品一覧の画像・幅・位置調整 */
.product_img {
  margin: 20px;
  text-align: center;
}

/* 商品一覧画像size */
.product_img img {
  max-width: 100%;
}

/* 商品一覧文字位置固定 */
.dounts_line_3 p:nth-of-type(2){
  position: absolute;
  bottom:211px;
  right: 25px;
  color: #7F5539;
}

/* 会社理念？ */
.philosophy_content {
  position: relative;
  width: 100%;


}

/*  画像size調整*/
.philosophy_img img {
  max-width: 100%;
}

/* 画像文字色指定 */
.philosophy_text {
  color: #fff;
}

/* 画像に文字を重ねる　文字列① */
.philosophy_text p:nth-of-type(1) {
  position: absolute;
  top: 77px;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}

/* 画像に文字を重ねる　文字列②*/
.philosophy_text p:nth-of-type(2) {
  position: absolute;
  top: 124px;
  right: 0;
  left: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}

/* 画像に文字を重ねる　文字列③*/
.philosophy_text p:nth-of-type(3) {
  position: absolute;
  top: 213px;
  right: 0;
  left: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}

/* 画像に文字を重ねる　文字列④ */
.philosophy_text p:last-of-type {
  position: absolute;
  top: 250px;
  right: 0;
  left: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}



/* 人気ランキング */
h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 80px;
}

/*  人気ランキング下線*/
.underline {
  text-decoration: underline #FFD233;
}

/* ランキング数字 */
h5 {
  width: 22%;
  background: #E8C2CA;
  color: #fff;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* ランキング */
.ranking {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

/* 商品紹介を２カラムに */
.inner_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* カートボタン作成・調整 */
btn_cart {
  background: #7F5539;
  color: #fff;
  width: 100%;
  height: 11%;
  text-align: center;
  margin-top: 20px;
}

/* 商品紹介サイズ調整 */
.ranking_item {
  flex-basis: 42%;
  margin-top: 80px;
}

/* ランキング１位色指定 */
.ranking_item:nth-of-type(1) h5 {
  background: #FFD233;
}

/* ランキング画像のサイズ調整 */
.ranking_item p img {
  max-width: 100%;
}